body{
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: white;
    width: 1500px;
}
h1{
    padding: 15px;
    text-align: center;
}
.botao{
    text-align: center;
    margin-top: 100px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
}
main, div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
footer{
    padding: 15%;
}
