body,.bg {
    background-repeat: no-repeat;
    background-size:cover;
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.redhood {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    background: rgb(223, 18, 18); 
    color: rgb(220, 220, 255);
    border-radius: 7px;
    padding: 1px;
    font-family:Arial, Helvetica, sans-serif
    width: 75%;
    }
 .logo{
     display: flex;
     flex-direction: column;
     justify-items: center;
 }
.intro {
    display: flex;
    width: 50%;
    text-align: center;
    color:rgb(196, 13, 13);
}


.skins {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
        
}

.skins img:hover {
    border-radius: 50px;

}
.skins img {
    display:flex;
    margin: 15px;    
}

.botao {
    display: flex;
    margin-left: 25px;
    text-align: center;
    
}

.botao {
    border-radius: 15px;
    height: 15%;
}

li{
    border: solid 1px;
}

.botao:hover{
        border-radius: 50px ;
        color: rgb(255, 0, 0);
        font-weight: bold;
}

.copyright {
    background: rgba(0, 0, 0);
    color:wheat;
    margin-top: 15%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
}
